:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  color: black;
  background-image: url("../../images/background.png");
  margin: 0;
  padding: 0;
  background-size: 2300px 5000px;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}

  #Everything_Else{
    padding-left: 10%
  }

  i{
    color: #df49a6;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 300px;
  }

 
  #S {
    border: 2px solid black;
    background-color:rgb(20, 118, 237);
    text-shadow: 2px 2px rgb(0, 0, 0);
    color: white;
    margin: auto;  
    padding-left: .5%; 
    padding-right: .5%;
    text-align: center;
    display: inline;
    position: relative;
    z-index: 20;
   
  }


  #A {
    border: 2px solid black;
    background-color:rgb(3, 152, 50);
    text-shadow: -2px 2px rgb(0, 0, 0);
    color: white;
    margin: auto;  
    padding-left: .5%; 
    padding-right: .5%;
    text-align: center;
    display: inline;
  }

 

#Az{
  background:rgb(3, 152, 50, .6);
}
  
  #B {
    border: 2px solid black;
    background-color:rgb(152, 3, 135);
    text-shadow: -2px 2px rgb(0, 0, 0);
    color: white;
    margin: auto;  
    padding-left: .5%; 
    padding-right: .5%;
    text-align: center;
    display: inline;
  }

  #Bz{
    background: rgb(152, 3, 135, .6);
  }

  #C {
    border: 2px solid black;
    background-color:rgb(220, 204, 29);
    text-shadow: -2px 2px rgb(0, 0, 0);
    color: white;
    margin: auto;  
    padding-left: .5%; 
    padding-right: .5%;
    text-align: center;
    display: inline;
   
  }

  #Cz{
    background: rgb(220, 204, 29, .6);
  }

  #D {
    border: 2px solid black;
    background-color:rgb(223, 104, 13);
    text-shadow: -2px 2px rgb(0, 0, 0);
    color: white;
    margin: auto;  
    padding-left: .5%; 
    padding-right: .5%;
    text-align: center;
    display: inline;
  }

  #Dz{
    background: rgb(223, 104, 13, .6);
  }

  #E {
    border: 2px solid black;
    background-color:rgb(94, 70, 10);
    text-shadow: -2px 2px rgb(0, 0, 0);
    color: white;
    margin: auto; 
    padding-left: .5%; 
    padding-right: .5%;
    text-align: center;
    display: inline;
    position: relative;
    z-index: 20;
    
  }

  #Ez{
    background: rgb(94, 70, 10, .6);
  }
  

  #F {
    border: 2px solid black;
    background-color:rgb(152, 3, 3);
    text-shadow: -2px 2px rgb(0, 0, 0);
    color: white;
    margin: auto;  
    padding-left: .5%; 
    padding-right: .5%;
    text-align: center;
    display: inline;
  }

  #Ez{
    background: rgb(152, 3, 3, .6);
  }
  




  #shadow{

    text-shadow: 8px 8px rgb(0, 0, 0);

  }




 #carouselpic{
  height:360px;
  margin: auto;
 
 }

 .carousel-inner{
   margin:auto;
 }

 .carousel{
   width:45%;
   margin: auto;
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(1, 125, 150,1) 100%);

 }

 .carousel-caption h3{
   opacity: .95;
   -webkit-text-stroke: 1px black;
  font-size: 40px;
  text-shadow: -2px 2px 0px #02b0b0,
                 -4px 4px 0px #008a8a,
                 -6px 6px 0px #006d6d;
 }

 .carousel-caption h2{

  opacity: .92;
  -webkit-text-stroke: 1px black;
 
text-shadow: -2px 2px 0px #02b0b0,
                 -4px 4px 0px #008a8a,
                 -6px 6px 0px #006d6d;

 }

 .carousel-caption p{
  text-shadow: -1px 1px 0px #1c1c1c,
  -2px 2px 0px #181818,
  -3px 3px 0px #040404;

  padding-left: 20%;
  padding-right: 20%;

  color: rgb(245, 245, 245);

  font-size: 20px;
   
  
 }
 
 .carousel-inner {
   margin:auto
 }

  .image-container {
    position: relative;
    width: 360px;
    height: 360px;
}
.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.image-container:hover .after {
    display: block;
    
}

#vamp{
  color: #ffffff;
  height: 62px;
  width: 25%;
  font-size: 90px;

  position: relative;
  z-index: -1;

  -webkit-text-stroke: 1px black;
  text-shadow:-4px 4px 0px rgb(20, 118, 237),
                 -8px 8px 0px rgb(3, 152, 50),
                 -12px 12px 0px rgb(152, 3, 135) 
                ;
              
              }
  

#inline{
  font-size: 80%;
  padding-bottom: 30px;
}


#vamp2{
  font-size: 70px;
                  color: #ffffff;
                  opacity: .92;
                  height: 80px;
                  width: 85%;
                  -webkit-text-stroke: 1px rgb(0, 0, 0);
                  text-shadow:-2px 2px 0px rgb(20, 118, 237),
                                 -4px 4px 0px rgb(3, 152, 50),
                                 -6px 6px 0px rgb(152, 3, 135) }